.calc-form-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* align-content: center; */
}

.input-label-calc {
  width: 100px;
  margin: 10px 0px 10px 0px;
}

.calc-input {
  width: 150px;
  margin: 10px 0px 10px 0px;
  height: 30px;
  font-size: 20px;
  border: 2px solid blueviolet;
  border-radius: 8px;
}

.calc-input:focus {
  border: solid 3px blueviolet
}

.get-macros-button {
  width: 150px;
  height: 40px;
  margin: 10px 0px 10px 0px;
  box-sizing: border-box;
  background: white;
  border: 3px solid blueviolet;
  border-radius: 10px;
  transition-duration: 800ms;
}

.get-macros-button:hover {
  background: blueviolet;
  transition-duration: 500ms;
}

/* .gender-checkbox { */
/*    */
/* } */
