.landing-container {
  width: 100vw;
  height: 100vh;
  padding: 80px 100px 100px 100px;
  display: grid;
  /* grid-template-columns: 2fr 1fr; */
  grid-template-columns: 1fr 1fr;
}

.landing-left {
  display: flex;
  flex-direction: column;
  padding-right: 150px;
}

.landing-logo {
  width: 150px;
  height: 150px;
}

.landing-title {
  font-size: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.get-started-text {
  margin: 20px 0px 30px 0px;
  font-size: 20px;
  line-height: 40px;
}

.get-started-button {
  margin: 20px 0px 0px 0px;
  width: 200px;
  height: 70px;
  font-size: 25px;
  color: white;
  background: black;
  border-radius:30px;
}

.landing-right-image {
  height: 700px;
  mask-image: linear-gradient(
    white 80%,
    transparent
    );
}
