.macros-table-card-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

tr:nth-child(even) {
  background-color: #A7A7A7;
}

td {
  padding: 0px 20px 0px 20px;
  height: 35px;
}

th {
  background-color: black;
  height: 35px;
  color: white;
  padding: 0px 20px 0px 20px ;
}

.no-data {
  /* position: relative; */
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  padding: 5px 5px 5px 20px;
  margin: 0px 0px 15px 10px;
  width: 500px;
  height: 40px;
  background: #FFB0B0;
  border: 2px solid red;
  border-radius: 8px;
  color: red;
}

.close-not-found {
  background: none;
  border: none;
  margin: 0px 0px 0px 200px;
  padding: auto;
  color: red;
  font-size: 15px;
}

.macros-table {
  margin-left: 80px;
}

.card-container {
  height: 100%;
}

.food-card-container {
  position: sticky;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
  height: fit-content;
  margin-top: 50px;
  background: black;
  border-radius: 30px;
  color: white;
  padding: 0;
  overflow: hidden;
}

.food-card-image {
  margin: 0px;
}

.food-card-text {
  padding: 10px 50px 10px 50px;
  margin-bottom: 30px;
}
