.empty-routine-container {
  display: flex;
  flex-direction: row;
  width: fit-content;
  height: fit-content;
  padding: 50px 100px 50px 100px;
  align-items: center;
  background: #424449;
  border-radius: 20px;
}

.empty-routine-label {
  margin-left: 30px;
}

.empty-routine-btn {
  margin-left: 30px;
  width: fit-content;
  height: fit-content;
  padding: 10px 20px 10px 20px;
  font-size: 16px;
  background: white;
  color: #424449;
  border: none;
  border-radius: 10px;
}

/* HTML: <div class="loader"></div> */
.loader-card {
  width: 120px;
  height: 22px;
  border-radius: 40px;
  color: #514b82;
  border: 2px solid;
  position: relative;
  overflow: hidden;
}
.loader-card::before {
  content: "";
  position: absolute;
  margin: 2px;
  width: 14px;
  top: 0;
  bottom: 0;
  left: -20px;
  border-radius: inherit;
  background: currentColor;
  box-shadow: -10px 0 12px 3px currentColor;
  clip-path: polygon(0 5%, 100% 0,100% 100%,0 95%,-30px 50%);
  animation: l14 1s infinite linear;
}
@keyframes l14 {
  100% {left: calc(100% + 20px)}
}
