.header-container {
  /* position: fixed; */
  display: grid;
  /* flex-direction: row-reverse; */
  /* columns: ; */
  grid-template-columns: 2fr 1fr 1fr 1fr 120px 120px;
  align-items: center;
  /* background: red; */
  width: 100vw;
  height: 50px;
  padding: 0px 0px 10px 0px;
  border-style: none;
  border-bottom: solid 1px #D6D6D6;
}

#logo-img {
  width: 40px;
}

.logo-label-div {
  display: flex;
  align-items: center;
}

.log-in-button {
  width: 80px;
  height: 35px;
  margin: 0px 10px 0px 10px;
  border-style: solid;
  border-color: blueviolet;
  border-radius: 5px;
  background: blueviolet;
  color: white;
  font-weight: bold;
  font-size: 15px;
  transition-duration: 500ms;
}

.log-in-button:hover {
  background: white;
  color: blueviolet;
}

.sign-in-button {
  width: 80px;
  height: 35px;
  border-style: solid;
  border-color: blueviolet;
  border-radius: 5px;
  background: white;
  color: blueviolet;
  font-weight: bold;
  font-size: 15px;
  transition-duration: 500ms;
}

.sign-in-button:hover {
  background: blueviolet;
  color: white;
}

.header-links {
  height: 40px;
  margin: 0px 15px 0px 15px ;
  border-style: none;
  transition-duration: 100ms;
}

.header-links:hover {
  background: #F1FAFF;
  border-bottom: solid black 5px;
  transition-duration: 100ms;
}
