.price-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  width: 400px;
  height: 630px;
  padding: 20px 30px 0px 30px;
  box-sizing: border-box;
  border: 5px solid #FF004D;
  border-radius: 20px;
  color: #242933;
  background: white;
}

.plan-header {
  margin-top: 40px;
}

.plan-price {
  font-size: 40px;
}

.plan-utils {
  margin: 10px 0px 10px 0px;
  font-size: 18px;
}

.utils-ul {
  margin-top: 30px;
}

.prices-sus-button {
  width: 200px;
  height: 60px;
  margin: 40px auto;
  font-size: 20px;
  font-weight: bold;
  color: white;
  background: #FF004D;
  border-radius: 10px;
  border: none;
}
