.routine-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 300px;
  height: 100px;
  background: #FF004D;
  color: white;
  font-size: 20px;
  font-weight: 600;
  margin: 20px 20px 20px 20px;
  border-radius: 20px;
}

.day-title {
  font-size: 20px;
  margin-right: 20px;
}

.day-button {
  width: 80px;
  height: 30px;
  color: black;
  font-size: 15px;
  background: white;
  border: none;
  border-radius: 10px;
}
