.social-menu-container {
  padding: 40px 40px 40px 40px;
  height: fit-content;
  width: 80%;
  border: 3px solid #ff004d;
  border-radius: 20px;
  box-sizing: border-box;
  background: #242933;
  overflow: hidden;
}

.menu-info-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.profile-pic-menu {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 30px;
}

.menu-name-email-container {
  display: flex;
  flex-direction: column;
}

.name-email-menu-label {
  font-size: 20px;
  color: white;
  margin-bottom: 10px;
}

.create-post-btn {
  padding: 10px 10px 10px 10px;
  width: fit-content;
  height: fit-content;
  margin-left: 20%;
  font-size: 18px;
  color: white;
  background: #FF004D;
  border: none;
  border-radius: 10px;
}

.upload-post-form {
  margin: 20px 10px 10px 10px;
}

.upload-post-span {
  display: grid;
  grid-gap: 10px;
  margin-bottom: 20px;
}

.upload-post-span-title {
  width: 100%;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
}

.upload-post-label {
  font-size: 16px;
  color: white;
}

.upload-post-input {
  font-family: 'Poppins', sans-serif;
  color: white;
  font-size: 16px;
  width: 100%;
  padding: 10px 10px 10px 10px;
  border: none;
  border-radius: 10px;
  background: #424449;
}

.upload-post-input-pic {
  display: none;
}
