
.terms-conditions-container{
    width: 100vw;
    height: 100vh;
    display: grid;
    color: white;
    place-content: center;
}

.terms-conditions-component {
    width: 80%;
    max-width: 600px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.terms-conditions-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    border-bottom: 1px solid #ddd;
}

.terms-conditions-header h1 {
    margin: 0;
    font-size: 1.5em;
}

.terms-btn-exit {
    background: none;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
}

.terms-conditions-body {
    padding: 16px;
    max-height: 300px;
    overflow-y: auto; 
}

.terms-conditions-footer {
    display: flex;
    justify-content: center;
    padding: 16px;
    border-top: 1px solid #ddd;
}

.terms-btn-agree {
    padding: 10px 20px;
    background-color: #FF004D;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}